<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/metaHead.ejs'); %>
    <%- include('../partial/data.ejs'); %>
    <title><%= title %></title>

</head>
<body>
    <h2> download file</h2>
    <%- include('../partial/section.ejs'); %>

</body>
</html>