<!DOCTYPE html>
<html lang="en">
<head> 
    <%- include('../partial/metaHead.ejs'); %>
    <%- include('../partial/data.ejs'); %>
    <title><%= title %></title>

</head>
<body>
    <h2> this is home file</h2>
    <a href="/download">download</a>
    <%- include('../partial/section.ejs'); %>

</body>
</html>